.title{
    color: #4B7B82;
    font-weight: 600;
    font-size: 20px;
}
.button{
    width: 100%;
    height: 53px;
    border-radius: 8px;
    color: #ffff;
    background-color: #205050;
    border: transparent;
    font-size: 17px;
    font-weight: 700;
}
.container{
    margin-left: 30px;
    margin-right: 30px;
}
.input{
    width: 98%;
    height: 191px;
    border-radius: 10px;
    border: 1px solid #4B7B82;
    margin-bottom: 16px;
}